body {
    background-color: rgb(255, 244, 229);
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
}
#logo {
    width: 80%;
    height: auto;
}
#search {
    display: flex;
}
#searchbar {
    width: 45%;
}

.btn:hover{
    background-color: rgb(65, 44, 3);
    color: rgb(255, 244, 229);
}

#login,#profilo {
    font-size: large;
    text-wrap: nowrap;
}
.col-4 {
    /* background-color: lightblue; */
    text-align: center;
}
#titolo,#copertina {
    /* background-color: lightblue; */
    text-align: center;
}
h2 {
    font-weight: 900;
}
h5, h3 {
    font-weight: bolder;
}
#img img {
    object-fit: cover;
    display: block;
    border: 2px solid rgb(65, 44, 3);
}
#navbar {
    background-color: rgb(220, 215, 200);
}
.bg-custom-1 {
    background-color: rgb(250, 245, 235);
    border: 1px solid rgb(65, 44, 3);
    margin: 1vh;
}
.btn {
    background-color: rgb(240, 235, 220);
    color: black;
    outline: none;
    border-color: black;
    align-self: flex-start;
}
#title {
    text-align: left;
}
#img {
    height: fit-content;
    display: flex;
    justify-content: center;
}
li {
    list-style-type: none;
}
#form{
    padding: 1vh;
    border: 1px solid rgb(65, 44, 3);
    background-color: rgb(220, 215, 200);
}
#rowvideo {
    padding: 1vh 1vh 5vh 1vh;
    border: 1px solid rgb(65, 44, 3);
    background-color: rgb(220, 215, 200);
}
#ingredients,#instructions {
    background-color: rgb(220, 215, 200);
    padding: 1vh;
}
.row{
    margin: 2vh;
}
#rigapreparazione{
    background-color: rgb(220, 215, 200);
    border: 1px solid rgb(65, 44, 3);
}
footer {
    margin-top: 20%;
    background-color: rgb(220, 215, 200);
    text-align: center;
} 
footer a {
    color: rgb(65, 44, 3);
    text-decoration: underline;
}
.offcanvas-body, .offcanvas-header{
    background-color: rgb(220, 215, 200);
    color: rgb(65, 44, 3);
    text-justify:auto;
}
#copertina {
    height: 20vw;
    width: auto;
}
.recensione {
    margin: 2vh;
    background-color: rgb(250, 245, 235);
    border: 1px solid rgb(65, 44, 3);  
}
h4 {
    font-weight: bolder;
}
label {
    font-weight: bolder;
}
.bi {
    margin: 1%;
}
#rimuovi {
    background-color: rgb(65, 44, 3);
    color: rgb(255, 244, 229);
    border-color: rgb(65, 44, 3);
}
#rimuovi:hover, #rimuovi:active {
    background-color: rgb(255, 244, 229);
    color: rgb(65, 44, 3);
    border-color: rgb(65, 44, 3);
}