body {
    background-color: rgb(255, 244, 229);
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(65, 44, 3);
}
#navbar {
    background-color: rgb(220, 215, 200);
}
#loginform {
    border: 2px solid rgb(65, 44, 3);
    padding-bottom: 1vh;
    margin-top: 5vh;
    background-color: rgb(220, 215, 200);
    border-radius: 10px;
}
#divlogo {    
    text-align: center;
}
#logo {
    width: 80%;
    height: auto;
}
h1 {
    text-align: center;
}

#BoxProfilo, #formModifica, #BoxRicettario, #recensioni {
    border: 2px solid rgb(65, 44, 3);
    padding-bottom: 1vh;
    padding-left: 3vh;
    margin-top: 5vh;
    background-color: rgb(220, 215, 200);
    border-radius: 10px;
}
#modifica {
    background-color: rgb(255, 244, 229);
    color: rgb(65, 44, 3);
    border-color: rgb(65, 44, 3);
}
#modifica:hover {
    background-color: rgb(65, 44, 3);
    color: rgb(255, 244, 229);
}
#modifica:active {
    background-color: rgb(65, 44, 3) !important; 
    color: rgb(255, 244, 229) !important;
    border-color: rgb(65, 44, 3) !important;
}
#elimina,#visualizza,#rimuovi {
    background-color: rgb(65, 44, 3);
    color: rgb(255, 244, 229);
    border-color: rgb(65, 44, 3);
}
#elimina:hover, #elimina:active, #rimuovi:hover, #rimuovi:active, #visualizza:hover, #visualizza:active {
    background-color: rgb(255, 244, 229);
    color: rgb(65, 44, 3);
    border-color: rgb(65, 44, 3);
}
a {
    color: rgb(65, 44, 3);
}
.btn {
    background-color: rgb(255, 244, 229);
    color: rgb(65, 44, 3);
    border-color: rgb(65, 44, 3);
    margin-top: auto;
}
.btn:hover {
    background-color: rgb(65, 44, 3);
    color: rgb(255, 244, 229);
}
.btn:active {
    background-color: rgb(65, 44, 3) !important; 
    color: rgb(255, 244, 229) !important;
    border-color: rgb(65, 44, 3) !important;
}
footer {
    margin-top: 20%;
    background-color: rgb(220, 215, 200);
    text-align: center;
} 
footer a {
    color: rgb(65, 44, 3);
    text-decoration: underline;
}
.card img {
    align-self: auto;
    border: 1px solid rgb(65, 44, 3);
    border-radius: 1vh;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-title {
    margin-bottom: 1rem; /* Add some space below the title */
}
.bg-custom-1 {
    background-color: rgb(240, 235, 220); /* Set a lighter background color for the cards */
    border: 2px solid rgb(65, 44, 3);
    margin: 1vh;
    padding: 1vw;
    
}
