body {
    background-color: rgb(255, 244, 229);
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(65, 44, 3);
}
#logo {
    width: 80%;
    height: auto;
}
#search {
    display: flex;
}
#searchbar {
    width: 45%;
}
#searchbutton{
    color: black; border: 1px solid black;color: black; border: 1px solid black;
    
}
#searchbutton:hover{
    background-color: rgb(65, 44, 3);
    color: rgb(255, 244, 229);
}
#login,#profilo {
    font-size: large
}
.col-4 {
    /* background-color: lightblue; */
    text-align: center;
}
.col {
    /* background-color: lightblue; */
    text-align: center;
}
h5, h3,h4 {
    font-weight: bolder;
}
.carousel-item img {
    height: 70%; /* 30% dell'altezza dello schermo */
    object-fit: cover; /* Ritaglia l'immagine ai lati se necessario */
    width: 90%; /* Assicura che l'immagine riempia la larghezza del contenitore */
}

.card img {
    margin-top: 5%;
    margin-left: 5%;
    align-self: auto;
    border: 2px solid rgb(65, 44, 3);
    border-radius: 1vh;
}
.carousel-inner {
    height: fit-content;
}
#carosello { /* Assicura che il contenitore abbia un'altezza */
    overflow: hidden; /* Nasconde le parti fuori dal contenitore */
    position: relative; /* Necessario per il posizionamento assoluto degli elementi */
}
.d-flex a {
    width: 100%;
    height: auto;
}

.btn {
    background-color: rgb(240, 235, 220);
    color: rgb(65, 44, 3);
    border-color: rgb(65, 44, 3);
    align-self: flex-start; /* Align the button to the start */
}
.btn:active {
    background-color: rgb(65, 44, 3);
    color: rgb(255, 244, 229);
    border-color: rgb(65, 44, 3);
}
.card-body {
    display: flex;
    flex-direction: column;
    
}
.navbar-toggler {
    background-color: rgb(240, 235, 220);
    border: 1px solid rgb(65, 44, 3);
}

.card-title {
    margin-bottom: 1rem; /* Add some space below the title */
}

.btn:hover {
    background-color: rgb(65, 44, 3);
    color: rgb(255, 244, 229);
    border-color: rgb(65, 44, 3);
}
.btn:active {
    background-color: rgb(65, 44, 3) !important; 
    color: rgb(255, 244, 229) !important;
    border-color: rgb(65, 44, 3) !important;
}

.bg-custom-1 {
    background-color: rgb(220, 215, 200); /* Set the background color for the cards */
    border: 1px solid rgb(65, 44, 3);
    margin: 1vh;
}

#navbar {
    background-color: rgb(220, 215, 200);
}
footer {
    margin-top: 20%;
    background-color: rgb(220, 215, 200);
    text-align: center;
}
footer a {
    color: rgb(65, 44, 3);
    text-decoration: underline;
}
.offcanvas-body, .offcanvas-header{
    background-color: rgb(220, 215, 200);
    color: rgb(65, 44, 3);
    text-justify:auto;
}
i {
    text-decoration: none;
}
#side {
    height:5vw
}